@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
  }

  .container{
    display: flex;
    flex-direction: column;
    width: 35vw;
    margin: 0 auto;
    border: 1px solid #f0f0f0;
    box-shadow: 0px 0px 16px rgba(0,0,0,0.2);
  }
  
  .mobile {
    display: flex;
    flex-direction: column;
    background-color: rgb(34,39,122);
    width: 100%;
    height: 25vh;
    justify-content: center;
    align-items: center;
  }
  
  .form{
    display: flex;
    position: relative;
  }
  
  h1 {
    font-size: 1.6em;
    color: whitesmoke;
  }
  
  input {
    width: 28vw;
    padding: 5px 20px;
    font-size: 1.4em;
    border: 0;
    outline: 0;
    background-color: transparent;
    margin-top: 2em;
    border-bottom: 1px solid whitesmoke;
    color: whitesmoke;
  }

  ::placeholder{
    color: whitesmoke;
    font-size: 1em;
  }

  .fa-search{
    position: absolute;
    right: 0px;
    padding: 50px 10px 0px 0px;
    font-size: 0.8em;
    color: whitesmoke;
  }
  
  .tryout {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 20px;
    font-size: 1.3em;
  }

  .tryout span{
    width: 90%;
  }
  
  .contact{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1.5em 1em;
    margin: 10px 0px;
    align-items: center;
  }
  
  .icon{
    width: 25%;
  }

  .icon-list{
    display: flex;
    width: 40%;
    justify-content: space-around;
  }
  
  .info{
    width: 63%;
  }
  
  .fa-user-circle {
    font-size: 1.5em;
  }

  .fa-phone-alt, .fa-comment-dots{
    font-size: 1.2em;
    cursor: pointer;
  }
  
  .dark{
    background-color: rgba(34,39,122,0.5);
    color: white;
    border-radius: 5px;
    animation: slideIn 3s ease;
  }
  
  .light{
    background-color: lightgray;
    color: #303030;
    border-radius: 5px;
    animation: slideOut 3s ease;
  }

  @keyframes slideIn{
    0% {
      transform: translateX(-250px);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slideOut{
    0% {
      transform: translateX(250px);
    }
    100% {
      transform: translateX(0);
    }
  }

  @media (max-width: 575.98px) {
    .container{
      width: 100vw;
    }

    input{
      width: 75vw;
    }

    .tryout{
      padding: 10px 0;
    }
  }
  
  @media (min-width: 576px) and (max-width: 767.98px) {
    .container{
      width: 60vw;
    }

    input{
      width: 45vw;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991.98px) {
     .container{
      width: 50vw;
    }

    input{
      width: 35vw;
    }
  }


  